body {
    padding-top: 80px;
    padding-bottom: 20px;
}

.navbar {
    padding: 5px 0;
}

.navbar-btn {
    margin: 8px 0;
    float: right;
}

.navbar-text {
    float: right;
}

.form-signin {
    max-width: 400px;
    padding: 15px;
    margin: 5% auto 0;
}

.task-sort {
    display: table;
    margin: 0 0 20px auto;
}

.task-sort__item {
    display: table-cell;
    vertical-align: middle;
}

.task-sort__item:not(:last-child) {
    padding-right: 20px;
}

.task-detail__panel-heading {
    position: relative;
}

.task-detail__button-delete,
.task-detail__button-edit {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: 0;
    cursor: pointer;
}
.task-detail__button-delete {
    right: 48px;
}

.task-detail__button-edit {
    right: 16px;
}

.task-detail__status {
    margin-left: 6px;
}

.task-detail__body {
    display: table;
}

.task-detail__image-block,
.task-detail__content-block {
    display: table-cell;
    vertical-align: top;
}

.task-detail__content-block {
    width: 100%;
    padding-left: 16px;
}

.task-detail__image {
    display: block;
    width: 320px;
    height: 240px;
    background: #ccc;
}

.task-detail__list-item span {
    margin-right: 8px;
}

.task-pagination {
    display: block;
    text-align: center;
}

.task-pagination .active {
    pointer-events: none;
}

@media screen and (max-width: 767px) {
    .navbar-btn {
        margin-right: 16px;
    }

    .task-detail__body {
        width: 100%;
    }

    .task-detail__image-block,
    .task-detail__content-block {
        display: table-row;
    }

    .task-detail__image {
        margin: 0 auto 16px;
    }
}

@media screen and (min-width: 768px) {
    .navbar-header {
        width: 100%;
    }
}